/.vs/Instance Timer/FileContentIndex
/.vs/Instance Timer/v17
/.vs/Instance-Timer/v17
/Instance Timer/obj
/.vs
/Instance Timer/.vs
/Instance Timer/bin/x64/Release/Instance Timer.exe.config
/Instance Timer/bin/x64/Release/Instance Timer.pdb
/Instance Timer/Instance Timer.csproj.user
/Instance Timer/Instance Timer.csproj
/Instance Timer/bin/x64/Release/Instance Timer.exe.manifest
